header{
    background-color: #1F2024;
    height: 100vh;
    position: relative;
    width: 100vw;
}
.logo{
    background-color: #4B4952;
    position: absolute;
    top: 5px;
    right: 2px;
    height: 390px;
    width: 23vw;
    border-radius: 200px 0px 0px 200px;
}
header > h1{
    color: rgb(206, 203, 203);
    font-size: 120px;
    position: absolute;
    left: 30px;
    top: 50px;
}
header > h3 {
    color:rgb(206, 203, 203);
    font-size: 30px;
    position: absolute;
    left: 600px;
    top: 180px;
}
